#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,4,0
 PRODUCTVERSION 0,1,4,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Unifiedpost\0"
      VALUE "FileDescription", "Markdown Preview Plus Notepad++ plugin\0"
      VALUE "FileVersion", "0.1.4.0\0"
      VALUE "InternalName", "MarkdownPreviewPlus.dll\0"
      VALUE "OriginalFilename", "MarkdownPreviewPlus.dll\0"
      VALUE "ProductName", "Markdown Preview Plus\0"
      VALUE "ProductVersion", "0.1.4.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
